@use '../../../assets/sass/colors'

.login-button
  position: absolute
  bottom: 1vh
  left: 9vw
  color: colors.$pourple
  font-size: 18px
  border: 1px solid colors.$pourple
  padding: 1vh 5vw
  border-radius: 6px
