@use '../../../assets/sass/display'
@use '../../../assets/sass/colors'

*
  margin: 0px
  padding: 0px

.content-add-image
  z-index: 1
  background-color: colors.$blue-pourple
  position: absolute
  right: 2vw
  padding-top: 7vh

  @include display.mobile
    background: none

  i
    font-size: 30px
    color: rgba(0, 0, 0, 0.6)

    @include display.mobile
      color: colors.$black
      font-size: 35px

    &:hover
      color: colors.$pourple

.content-carousel
  background-color: colors.$blue-pourple
  display: flex
  justify-content: space-around
  width: 100%
  height: 70vh
  padding: 0px 11vw 0px 11vw

  @include display.mobile
    padding: 0px

  .arrow-left, .arrow-right
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    opacity: 0.2
    font-size: 100px
    transition: all 600ms ease-in-out
    border: none

    @include display.mobile
      font-size: 60px
      opacity: 1
      transition: all 10ms
      z-index: 1

    &:hover
      opacity: 1

    i
      color: colors.$pourple-light

.carousel-images::-webkit-scrollbar
  display: none

.carousel-images
  overflow-x: auto
  width: 32vw
  padding-top: 8vh

  @include display.mobile
    padding-top: 0px
    position: absolute
    width: 100vw

  .image
    .icons
      font-size: 25px
      display: flex
      justify-content: right
      padding-right: 2vw
      padding-bottom: 1vh

      .icon-trash:hover
        color: colors.$red

      .icon-update:hover
        color: colors.$pourple

  .images
    display: flex
    flex-flow: row nowrap
    gap: 15px
    border-radius: 20px

    img
      width: 31.5vw
      height: 55vh
      border-radius: 20px

      @include display.mobile
        width: 100vw
        border-radius: 0px

    .item
      flex-shrink: 0
      opacity: 0.6
      transition: all 600ms ease-in-out

    .current-item
      opacity: 1
