<section id="carousel" class="display-desktop">
  <div class="content-add-image">
    <div type="button" class="button-add-image" (click)="addOrUpdateImage(null)">
      <i class="bi bi-plus-circle-dotted"></i>
    </div>
  </div>

  <div class="content-carousel">
    <div class="arrow-left">
      <a type="button" class="button-left" (click)="moveImage(false)"><i class="bi bi-caret-left-fill"></i></a>
    </div>

    <div class="carousel-images">
      <div class="images" id="images">
        <div *ngFor="let image of imagesCarousel">
          <div class="image">
            <div class="icons">
              <div class="icon-trash">
                <i *ngIf="image._id !== undefined" type="button" class="bi bi-trash3-fill mx-2" (click)="deleteImage(image._id)"></i>
              </div>

              <div class="icon-update">
                <i *ngIf="image._id !== undefined" type="button" class="bi bi-pencil-square" (click)="addOrUpdateImage(image._id)"></i>
              </div>
            </div>

            <a href="{{ image.linkProduct }}">
              <img class="item current-item" src="{{ image.file?.url }}" alt="imagem fake">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="arrow-right">
      <a type="button" class="button-right" (click)="moveImage(true)"><i class="bi bi-caret-right-fill"></i></a>
    </div>
  </div>
</section>

<section id="carousel" class="display-mobile">
  <div class="content-add-image">
    <div type="button" class="button-add-image" (click)="addOrUpdateImage(null)">
      <i class="bi bi-plus-circle-dotted"></i>
    </div>
  </div>

  <div class="content-carousel">
    <div class="arrow-left">
      <a type="button" class="button-left" (click)="moveImage(false)"><i class="bi bi-caret-left-fill"></i></a>
    </div>

    <div class="carousel-images">
      <div class="images" id="images">
          <img class="item current-item" *ngFor="let image of imagesCarousel" src="{{ image.file?.url }}" alt="imagem fake">
      </div>
    </div>

    <div class="arrow-right">
      <a type="button" class="button-right" (click)="moveImage(true)"><i class="bi bi-caret-right-fill"></i></a>
    </div>
  </div>
</section>
