<section id="carousel" class="display-desktop">
  <div class="content-add-image">
    <div type="button" class="button-add-image" (click)="addOrUpdateImage(null)">
      <i class="bi bi-plus-circle-dotted"></i>
    </div>
  </div>

  <div class="content-carousel">
    <div class="arrow-left">
      <a type="button" class="button-left" (click)="moveImage(false)"><i class="bi bi-caret-left-fill"></i></a>
    </div>

    <div class="carousel-images">
      <div class="images" id="images">
          <img class="item current-item" *ngFor="let image of imagesCarousel" src="{{ image.file?.url }}" alt="imagem fake">
      </div>
    </div>

    <div class="arrow-right">
      <a type="button" class="button-right" (click)="moveImage(true)"><i class="bi bi-caret-right-fill"></i></a>
    </div>
  </div>
</section>

<section id="carousel" class="display-mobile">
  <div class="content-add-image">
    <div type="button" class="button-add-image" (click)="addOrUpdateImage(null)">
      <i class="bi bi-plus-circle-dotted"></i>
    </div>
  </div>

  <div class="content-carousel">
    <div class="arrow-left">
      <a type="button" class="button-left" (click)="moveImage(false)"><i class="bi bi-caret-left-fill"></i></a>
    </div>

    <div class="carousel-images">
      <div class="images" id="images">
          <img class="item current-item" *ngFor="let image of imagesCarousel" src="{{ image.file?.url }}" alt="imagem fake">
      </div>
    </div>

    <div class="arrow-right">
      <a type="button" class="button-right" (click)="moveImage(true)"><i class="bi bi-caret-right-fill"></i></a>
    </div>
  </div>
</section>
