<div class="profile">
  <div class="profile-name"></div>
</div>

<div class="payment-method">
  <form>
    <div class="bank-slip">
      <input class="" type="radio" id="bank-slip">
      <label class="mx-2" for="bank-slip">Boleto</label>
    </div>

    <div class="pix">
      <input class="" type="radio" id="pix">
      <label class="mx-2" for="pix">PIX estático</label>
    </div>

    <div class="credit-card">
      <input class="" type="radio" id="credit-card">
      <label class="mx-2" for="credit-card">Cartão de Crédito</label>
    </div>


  </form>
</div>