<div class="profile">
  <div class="profile-name"></div>
</div>

<div class="payment-method form-check">
  <div class="bank-slip">
    <input class="form-check-input" type="radio" id="bank-slip">
    <label class="form-check-label mx-2" for="bank-slip">Boleto</label>
  </div>

  <div class="pix">
    <input class="form-check-input" type="radio" id="pix">
    <label class="form-check-label mx-2" for="pix">PIX estático</label>
  </div>

  <div class="credit-card">
    <input class="form-check-input" type="radio" id="credit-card">
    <label class="form-check-label mx-2" for="credit-card">Cartão de Crédito</label>
  </div>
</div>