@use '../../assets/sass/colors'

*
  background-color: colors.$black

  h1
    color: colors.$white

#header
  position: fixed
  z-index: 4
  width: 100%

  .menu
    padding: 0px 0px 1vh 12vw

  .cart
    color: colors.$white
    cursor: pointer
    font-size: 30px

    &:hover
      color: colors.$pourple
