@use '../../assets/sass/colors'

#header
  .content
    top: 0
    z-index: 4
    position: fixed
    width: 100vw
    height: 40px
    padding-top: 1.5vh
    display: flex
    justify-content: space-around
    background-color:  colors.$black
    color: colors.$white

    .cart
      color: colors.$white
      cursor: pointer
      font-size: 30px

      &:hover
        color: colors.$pourple

      .productsQuantity
        position: absolute
        top: 0.9vh
        right: 14vw

        span
          font-size: 16px
          font-weight: 600
          color: colors.$red
