<div class="update-user">Atualizar dados pessoais!</div>

<!-- <div class="informations">
  <div class="pessoal-data">
    <p class="name">Nome: {{ user.name }}</p>
    <p class="cellphone">Whats: {{ user.cellphone }}</p>
    <p class="email">E-mail: {{ user.email }}</p>
  </div>

  <div class="location">
    <p class="postal-code">CPF: {{ user.postalCode }}</p>
    <span class="street">Rua: {{ user.street }}</span>
    <span class="number">, N° {{ user.houseNumber}}</span>
    <p class="neighborhood">Bairro: {{ user.neighborhood }}</p>
  </div>
</div>

<div class="my-shopping">
  <div class="row" *ngFor="let product of myProducts">

    <div class="see-product col-2"></div>

    <div class="product col-10">
      <p class="product-name">{{ product.name }}</p>
      <p class="product-type">{{ product.type }}</p>
    </div>

    <div type="button" class="delete-product">Excluir</div>

  </div>
</div> -->

<div class="return-newsletter button-one">Newsletter</div>
