<section id="form">
  <div class="container">
    <div class="content-header">
      <div class="row">
        <div class="title col-11">
          <span>titulo</span>
        </div>

        <div mat-dialog-actions class="close-window col-1">
          <button mat-button (click)="closeModal()">X</button>
        </div>
      </div>
    </div>

    <form class="row" [formGroup]="form">
      <div class="col-6 my-2">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" formControlName="name" class="form-control" id="name">
      </div>

      <div class="col-6 my-2">
        <label for="description" class="form-label">Descrição:</label>
        <input type="text" formControlName="description" class="form-control" id="description">
      </div>

      <div class="col-4 my-2">
        <label for="valor" class="form-label">Valor:</label>
        <input type="number" formControlName="valor" class="form-control" id="valor">
      </div>

      <div class="col-4 my-2">
        <label for="type" class="form-label">Categorias:</label>

        <button class="button-change-select" (click)="changeCategorySelect()">{{ newOrOldCategory }}</button>

        <input type="text" *ngIf="newOrOldCategory == 'Existente'" formControlName="type" class="form-control" id="type">
        <mat-select formControlName="type" *ngIf="newOrOldCategory == 'Nova'">
          <mat-option *ngFor="let type of categories" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </div>

      <div class="col-4 my-2">
        <label for="productCollection" class="form-label">Coleção:</label>

        <button class="button-change-select" (click)="changeCollectionSelect()">{{ newOrOldCollection }}</button>

        <input type="text" *ngIf="newOrOldCollection == 'Existente'" formControlName="groups" class="form-control" id="groups">
        <mat-select formControlName="groups" *ngIf="newOrOldCollection == 'Nova'">
          <mat-option *ngFor="let group of groups" [value]="group" selected>{{ group }}</mat-option>
        </mat-select>
      </div>

      <div class="col-12">
        <label for="image">Imagem:</label>
        <input type="file" formControlName="image" class="form-control" id="image">
      </div>

      <div class="button-add" >
        <button class="btn btn-primary" (click)="addProduct()">adicionar produto</button>
      </div>

    </form>
  </div>
</section>
