<div class="content">
  <div>
    <div class="content card-desktop">
      <img src="http://source.unsplash.com/random/250x250/?street" alt="street">
      <span>Legenda test</span>
      <h2>Coleção test</h2>
    </div>
  </div>
  <div>
    <div class="content card-desktop">
      <img src="http://source.unsplash.com/random/250x250/?animal" alt="animal">
      <span>Legenda test</span>
      <h2>Coleção test</h2>
    </div>
  </div>
  <div>
    <div class="content">
      <img src="http://source.unsplash.com/random/250x250/?plants" alt="plants">
      <span>Legenda test</span>
      <h2>Coleção test</h2>
    </div>
  </div>
  <div>
    <div class="content">
      <img src="http://source.unsplash.com/random/250x250/?car" alt="car">
      <span>Legenda test</span>
      <h2>Coleção test</h2>
    </div>
  </div>
</div>
