<div class="contents">

  <div class="card-create" (click)="addOrUpdateImage(undefined)">
    <div class="add-card">
      <i type="button" class="bi bi-plus-circle-dotted"></i>
    </div>

    <div class="content">
      <h4>Adicionar imagem</h4>
    </div>
  </div>

  <div class="cards" *ngFor="let image of imagesCollections">
    <img src="{{ image.file?.url }}">


    <div class="content card-desktop">
      <img src="{{ image.file?.url }}">

      <div class="icons row py-4">
        <div class="icon-trash col">
          <i *ngIf="image._id !== undefined" type="button" class="bi bi-trash3-fill mx-2" (click)="deleteImage(image._id)"></i>
        </div>

        <div class="icon-update col">
          <i *ngIf="image._id !== undefined" type="button" class="bi bi-pencil-square" (click)="addOrUpdateImage(image._id)"></i>
        </div>
      </div>

      <div class="text-footer">
        <a href="{{ image.linkProduct }}">Ver mais</a>
      </div>
    </div>
  </div>
</div>
