@use '../../assets/sass/colors'
@use '../../assets/sass/display'

*
    margin: 0px

#header-content
    margin-top: 12vh
    background-color: colors.$green-light

    .header
        display: flex
        justify-content: center

    .button
        margin-right: 5vw
        padding: 2vh 2vw
        border-radius: 8px
        cursor: pointer
        background-color: colors.$pourple-gray

#main-content
    margin-top: 8vh
    display: flex
    justify-content: center
            
    .tab-content
        width: 69vw
        padding: 9vh 0px 0px 0px

#footer-content
    bottom: 0px
    width: 100vw
    position: fixed
    background-color: colors.$green-light

    .footer
        display: flex
        justify-content: center
