<section id="main-content">
    <mat-tab-group>
        <mat-tab label="Sobre a Luz Violeta Macrame">
            <div class="tab-content">
                <title>{{ about.company.title }}</title>
                <p>
                    <span>paragrafo 1</span>
                </p>
            </div>
        </mat-tab>

        <mat-tab label="Tragetória de Camila Ribeiro">
            <div class="tab-content">
                <title>{{ about.businesswoman.title }}</title>
                <p>
                    <span>paragrafo 2</span>
                </p>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>

<section id="footer-content"></section>