<section id="main-content">
    <mat-tab-group>
        <mat-tab label="Sobre a Luz Violeta Macrame">
            <div class="tab-content">
                <h2>{{ this.about.company.title }}</h2>

                @for (companyParagraph of companyParagraphs; track companyParagraph._id) {
                    <p>
                        <span>{{ companyParagraph.phrases }}</span>
                    </p>
                }
            </div>
        </mat-tab>

        <mat-tab label="Tragetória de Camila Ribeiro">
            <div class="tab-content">
                <h2>{{ about.businesswoman.title }}</h2>

                @for(businesswomanParagraph of businesswomanParagraphs; track businesswomanParagraph._id) {
                    <p>
                        <span>{{ businesswomanParagraph.phrases }}</span>
                    </p>
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</section>

<section id="footer-content"></section>