@use '../../../assets/sass/mobile'

.about-form
  min-height: 14vh

.arrows
  padding-right: 5vw

  i
    font-size: 25px

  .form-return
    text-align: end

  .buttons-arrows
    background-color: #fff
    border: none

.footer-form
  padding-right: 2.2vw
  text-align: end

  @include mobile.display
    margin-top: 6vh
    padding-right: 7vw
