@use '../../../assets/sass/display'
@use '../../../assets/sass/colors'

*
  margin: 0px
  padding: 0px

.content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh

  .body
    width: 80vw
    height: 70vh
    background-color: colors.$white
    border: 1px solid colors.$pourple-light
    border-radius: 10px
    padding-bottom: 2vh

    @include display.hd
      width: 60vw
      height: 78vh

    .about-form
      background-color: colors.$pourple
      color: colors.$white
      width: 100%
      height: 8vh
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      margin-left: 0vw
      padding: 2vh 3vw 1vh 3vw

      @include display.hd
        padding: 1.5vh 3vw 1vh 3vw
        height: 10vh

    form
      padding: 2vh 3vw 1vh 3vw

    .content-arrows
      padding: 4vh 0px 4vw 0px

      @include display.hd
        padding: 2vh 0px 2vh 0px

      button
        background-color: colors.$white
        border: none

        i
          color: colors.$pourple

        &:disabled
          i
            color: colors.$pourple-light

      .button-return
        text-align: end

    .footer-form
      padding-left: 10vw

      .button-close
        padding: 0.6vh 2vw
        border-radius: 50px

      .button-one
        padding: 2vh 2vw
