<section id="payment-content" class="content-showing" *ngIf="toggleContent === false">
  <div class="title">
    <span>Selecione a forma de pagamento desejada</span>
  </div>

  <div class="subtitle">
    <span>Você pode pagar com Boleto, PIX ou Cartão de Crédito</span>
  </div>

  <div class="payment-options">
    <div class="bank-slip" (click)="togglePaymentOption('BOLETO')">
      <i *ngIf="bankSlip == true" class="bi bi-patch-check-fill"></i>
      <i *ngIf="bankSlip == false" class="bi bi-patch-check"></i>
      <span>Boleto</span>
    </div>

    <div class="PIX" (click)="togglePaymentOption('PIX')">
      <i *ngIf="pix == true" class="bi bi-patch-check-fill"></i>
      <i *ngIf="pix == false" class="bi bi-patch-check"></i>
      <span>PIX</span>
    </div>

    <!-- <div class="credit-card" (click)="togglePaymentOption('CREDITO')">
      <i *ngIf="creditCard == true" class="bi bi-patch-check-fill"></i>
      <i *ngIf="creditCard == false" class="bi bi-patch-check"></i>
      <span>Cartão de Crédito</span>
    </div> -->
  </div>

  <div class="payment-button">
    <button (click)="proceedToPayment()">Continuar</button>
  </div>
</section>

<section id="payment-details" class="content-showing" *ngIf="toggleContent === true">
  <div class="user-details">
    <div class="user-name">
      <span>Nome do usuário</span>
    </div>

    <div class="user-email">
      <span>Email do usuário</span>
    </div>

    <div class="user-phone">
      <span>Telefone do usuário</span>
    </div>

    <div class="user-address">
      <span>Endereço do usuário</span>
    </div>
  </div>


  <div class="product-details">
    <div class="product-name">
      <span>{{ product.name }}</span>
    </div>

    <div class="product-price">
      <span>{{ product.valor }}</span>
    </div>

    <div class="product-quantity">
      <span></span>
    </div>

    <div class="product-total">
      <span>Total: R$ 100,00</span>
    </div>
  </div>

  <div class="buttons-of-resolution">
    <div class="return-payment-options">
      <button (click)="toggleContent = false" class="button-return-payment-options">Voltar</button>
    </div>

    <div class="proceed-payment">
      <button (click)="Payment()" class="button-proceed-payment">Ralizar pagamento</button>
    </div>
  </div>
</section>
