@use '../../../assets/sass/colors'
@use '../../../assets/sass/mobile'

.burguer-icon
  height: 5vh

  @include mobile.display
    padding-top: 0.4vh

  .line
    cursor: pointer
    width: 50px
    height: 9px
    background-color: colors.$white
    margin: 0px 0px 6px 0px

    @include mobile.display
      width: 35px
      height: 7px
      margin-bottom: 3px


  .line-one
    transform: rotate(0deg)
    transition: all 400ms

  .line-three
    transform: rotate(-0deg)
    transition: all 400ms

.selected
  padding-top: 1.8vh

  @include mobile.display
    padding-top: 1.8vh

  .line
    background-color: colors.$white

  .line-one
    position: absolute
    height: 9px
    transform: rotate(40deg)
    transition: all 400ms

    @include mobile.display
      height: 6px

  .line-two
    display: none

  .line-three
    position: absolute
    height: 9px
    transform: rotate(-40deg)
    transition: all 400ms

    @include mobile.display
      height: 6px

.menu
  position: fixed
  background-color: colors.$white
  width: 0px
  top: 50vh
  right: 50vw
  border: 0px

  @include mobile.display
    transition: all 400ms
    width: 0px
    top: 10vh
    right: 0px

.menu-open
  top: 40vh
  right: 23vw
  padding-bottom: 6vh
  z-index: 2
  transition: all 400ms
  width: 50%
  border: 2px solid colors.$black
  border-radius: 10px

  @include mobile.display
    top: 15vh
    right: 0px
    width: 40%
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
    border-top-right-radius: 0px
    border-bottom-right-radius: 0px
