@use '../../../assets/sass/colors'
@use '../../../assets/sass/display'

.burguer-icon
  height: 5vh
  cursor: pointer

  @include display.mobile
    padding-top: 0.4vh

  .line
    width: 40px
    height: 4px
    background-color: colors.$white
    margin: 0px 0px 6px 0px

    @include display.mobile
      width: 35px
      height: 7px
      margin-bottom: 3px

  &:hover
    .line
      background-color: colors.$pourple

  .line-one
    transform: rotate(0deg)
    transition: all 1000ms

  .line-two
     transition: all 600ms

  .line-three
    transform: rotate(-0deg)
    transition: all 300ms

.selected
  padding-top: 1.8vh

  @include display.mobile
    padding-top: 1.8vh

  .line
    background-color: colors.$white

  .line-one
    position: absolute
    transform: rotate(40deg)
    transition: all 400ms

    @include display.mobile
      height: 6px

  .line-two
    display: none

  .line-three
    position: absolute
    transform: rotate(-40deg)
    transition: all 400ms

    @include display.mobile
      height: 6px

.menu
  position: fixed
  background-color: colors.$white
  width: 0px
  top: 8vh
  right: 0px
  border: 0px
  transition: all 400ms

  @include display.mobile
    transition: all 400ms
    width: 0px
    top: 10vh
    right: 0px

.menu-open
  top: 8vh
  right: 0px
  padding-bottom: 1.5vh
  z-index: 2
  transition: all 400ms
  width: 25%
  height: 100%
  border: 2px solid colors.$black
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  border-top-right-radius: 0px
  border-bottom-right-radius: 0px

  @include display.mobile
    top: 10vh
    right: 0px
    width: 43%
    height: auto
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
    border-top-right-radius: 0px
    border-bottom-right-radius: 0px
