<section id="menu-desktop">
  <div class="default-button newsletter" routerLink="/newsletter" (click)="closeMenu('/newsletter')">Newsletter</div>
  <div class="default-button" (click)="changeMenuProducts()">
    <div class="itens">
      <span>Itens</span>
    </div>

    <div class="icon-accessories">
      <i class="bi bi-caret-down" *ngIf="isOpen == false"></i>
      <i class="bi bi-caret-up-fill" *ngIf="isOpen == true"></i>
    </div>
  </div>

  <div class="menu-products" *ngIf="this.isOpen == true">
    <div class="default-button light" routerLink="/products" (click)="closeMenu('/products')">Todos</div>
  </div>

  <div class="default-button about" routerLink="/about" (click)="closeMenu('/about')">Sobre</div>

  <div *ngIf="this.userId !== 0" class="default-button profile" routerLink="/profile/{{ this.userId }}" (click)="closeMenu('/profile/{{ this.userId }}')">Minha Conta</div>

  <div *ngIf="this.administrator === true" class="default-button dashboard" routerLink="/dashboard" (click)="closeMenu('/dashboard')">Dashboard</div>

  <div *ngIf="this.userId == 0" class="login">
    <app-login></app-login>
  </div>

  <div *ngIf="this.userId !== 0" class="content-button-logout">
    <div class="logout button-one" (click)="modalLogoutIsOpen()">Sair</div>
  </div>
</section>

<div class="modal-logout" *ngIf="this.modalLogout == true">
  <h2>Deseja sair de sua conta ?</h2>

  <div class="row">
    <div class="close-modal-logout col-7"  (click)="modalLogoutIsOpen()">Não</div>
    <div class="button-logout col-5" (click)="isLogout()">Sim</div>
  </div>
</div>
