<section id="menu-desktop">
  @if (this.userId == 0) {
    <div class="login">
      <app-login></app-login>
    </div>
  }
 

  <div class="default-button newsletter item" routerLink="/newsletter" (click)="closeMenu('/newsletter')">
    <i class="bi bi-newspaper"></i>
    <span translate="no">Newsletter</span>
  </div>

  <div class="default-button item" (click)="changeMenuProducts()">
    @if (this.isOpen == false) {
      <i class="bi bi-arrow-bar-down"></i>
    } @else {
      <i class="bi bi-arrow-bar-right"></i>
    }
    <span>Acessórios</span>
  </div>

  @if (this.isOpen == true) {
    <div class="menu-products">
      <div class="default-button light" routerLink="/products" (click)="closeMenu('/products')">
        <i class="bi bi-arrow-right-short"></i>
        <span>Todos</span>
      </div>
    </div>
  }

  <div class="default-button about item" routerLink="/about" (click)="closeMenu('/about')">
    <i class="bi bi-person"></i>
    <span>Sobre</span>
  </div>

  @if (this.userId !== 0) {
    <div class="default-button profile item" routerLink="/profile/{{ this.userId }}" (click)="closeMenu('/profile/{{ this.userId }}')">Minha Conta</div>
  }
  
  @if (this.administrator == true) {
    <div class="default-button dashboard item" routerLink="/dashboard" (click)="closeMenu('/dashboard')">Dashboard</div>
  }
 
  @if (this.userId !== 0) {
    <div class="content-button-logout">
      <div class="logout button-one" (click)="modalLogoutIsOpen()">Sair</div>
    </div>
  }
</section>

@if (this.modalLogout == true) {
  <div class="modal-logout">
    <h2>Deseja sair de sua conta ?</h2>

    <div class="row">
      <div class="close-modal-logout col-7"  (click)="modalLogoutIsOpen()">Não</div>
      <div class="button-logout col-5" (click)="isLogout()">Sim</div>
    </div>
  </div>
}

