<section id="products">

  <div class="display">
    <div class="products">
      <h1>Aqui carrega a lista de Produtos</h1>
    </div>

    <div class="products-hd">
      <h1>Aqui carrega a lista de Produtos</h1>
    </div>

    <div class="products-mobile" *ngFor="let product of this.productsInCart">
      <div class="product">
        <h2>{{ product.name }}</h2>
        <img src="{{ product?.file?.url }}" alt="{{ product?.file?.name }}">

        <div class="button-remove-from-cart my-3">
          <app-add-or-remove-cart [product]="product"></app-add-or-remove-cart>
        </div>
      </div>
    </div>
  </div>

</section>

