<section id="cart">

  <div class="cart-content">
    <div class="products">
      @for (product of productsInCart; track product._id) {
        <div class="product">
          <h2>{{ product.name }}</h2>
          <img src="{{ product?.file?.url }}" alt="{{ product?.file?.name }}">
        </div>
      }
    </div>

    <div class="products-mobile">
      @for (product of productsInCart; track product._id) {
        <div class="product">
          <h2>{{ product.name }}</h2>
          <img src="{{ product?.file?.url }}" alt="{{ product?.file?.name }}">

          <div class="button-remove-from-cart my-3">
          </div>
        </div>
      }
    </div>

    <div class="footer">
      <div class="clear-cart" (click)="cartCleaning()">
        <span>Limpar carrinho</span>
      </div>

      <div class="buy-products">
        <span>Finalizar Carrinho</span>
      </div>
    </div>
  </div>

</section>

