@use '../../assets/sass/colors'
@use '../../assets/sass/display'

.display
  background-color: colors.$black
  padding-top: 14vh
  margin-bottom: 5vh

  .products-hd, .products-mobile
    display: none

  @include display.hd
    .products, .products-mobile
      display: none

    .products-hd
      display: inline

  @include display.mobile
    .products, .products-hd
      display: none

    .products-mobile
      display: inline
      display: flex
      justify-content: center

      .product
        background-color: colors.$white
        width: 65vw
        margin-bottom: 5vh
        border-radius: 10px
        display: flex
        flex-direction: column
        align-items: center

        img
          width: 50vw
          height: 45vw
          border-radius: 4%

