<div class="container content-form">
  <div class="content-header">
    <div class="title col-8">
      @if (updateData._id == undefined) {
        <h2>Criar nova imagem</h2>
      } @else {
        <h2>Atualizar imagem</h2>
      }
    </div>

    <div class="button-x col-4" type="button" (click)="closeModal()">
      <span>X</span>
    </div>
  </div>

  <hr>

  <form [formGroup]="form">
    <div class="content-inputs">
      <div class="content-link-product">
        <label for="linkProduct">Digite o link do produto:</label>
        <input type="text" formControlName="linkProduct" class="form-control input-lv" id="linkProduct">
      </div>

      @if (updateData._id == undefined) {
        <div class="content-file-image">
          <label for="file">Adicionar imagem: </label>
          <input type="file" class="form-control input-lv" (change)="onChangeFile($event)">
        </div>
      } @else {
        <div>
          <p>Imagem atual:</p>
          <div class="current-image">
            <img src="{{this.updateData.file?.url}}">
          </div>

          <div class="content-file-image">
            <label for="file">Trocar imagem: </label>
            <input type="file" class="form-control input-lv" (change)="onChangeFile($event)">
          </div>
        </div>
      }
    </div>

    <hr>

    <div class="content-footer row">
      <div class="col">
        <div type="button" class="buttons button-close" (click)="closeModal()">
          <span>Fechar</span>
        </div>
      </div>

      <div class="col">
        @if (updateData._id == undefined) {
          <div type="button" class="buttons button-send" (click)="addOrEditImage()">
            <span>Criar</span>
          </div>
        } @else {
          <div type="button" class="buttons button-send" (click)="addOrEditImage()">
            <span>Atualizar</span>
          </div>
        }
      </div>
    </div>
  </form>
</div>
