<div class="container content-form">
  <div class="content-header">
    <div class="row">
      <div class="col-11">
        <h2 *ngIf="this.updateData._id == undefined">Criar nova imagem</h2>
        <h2 *ngIf="this.updateData._id !== undefined">Atualizar imagem</h2>
      </div>

      <div class="col-1">
        <div class="button-close" type="button" (click)="closeModal()">
          <span>X</span>
        </div>
      </div>
    </div>

    <hr class="mx-2">
  </div>

  <form [formGroup]="form">
    <div class="content-inputs">
      <div class="content-link-product">
        <label for="linkProduct">Digite o link do produto:</label>
        <input type="text" formControlName="linkProduct" class="form-control" id="linkProduct">
      </div>

      <div class="content-file-image">
        <label for="file">Adicionar imagem: </label>
        <input type="file" class="form-control" (change)="onChangeFile($event)">
      </div>

      <div class="content-file-image">

        <div class="current-image">
          <img src="{{this.updateData.file?.url}}">
        </div>

        <label for="file">Trocar imagem: </label>
        <input type="file" class="form-control" (change)="onChangeFile($event)">
      </div>
    </div>

    <hr class="mx-2">

    <div class="content-footer">
      <div class="row">
        <div class="col-6">
          <div type="button" class="btn btn-dark button-close" (click)="closeModal()">
            <span>Fechar</span>
          </div>
        </div>

        <div class="col-6">
          <div *ngIf="this.updateData._id == undefined" type="button" class="button-one button-send" (click)="addOrEditImage()">
            <span>Criar</span>
          </div>

          <div *ngIf="this.updateData._id !== undefined" type="button" class="button-one button-send" (click)="addOrEditImage()">
            <span>Atualizar</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
