<div class="container content-form">
  <div class="content-header">
    <div class="row">
      <div class="col-11">
        <h2 *ngIf="this.updateData._id == undefined">Criar nova imagem</h2>
        <h2 *ngIf="this.updateData._id !== undefined">Atualizar imagem</h2>
      </div>

      <div class="col-1">
        <div class="button-close" type="button" (click)="closeModal()">
          <span>X</span>
        </div>
      </div>
    </div>

    <hr class="mx-2">
  </div>

  <form [formGroup]="form">
    <div class="content-inputs">
      <div class="content-link-product">
        <label for="linkProduct">Digite o link do Produto:</label>
        <input type="text" formControlName="linkProduct" class="form-control" id="linkProduct">
      </div>

      <div class="content-file-image">
        <label for="file">Adicione a Imagem: </label>
        <input type="file" class="form-control" id="file" (change)="onChangeFile($event)">
      </div>
    </div>

    <hr class="mx-2">

    <div class="content-footer">
      <div class="row">
        <div class="col-1">
          <div class="button-close" type="button" (click)="closeModal()">
            <span>Fechar</span>
          </div>
        </div>

        <div class="col-1">
          <div *ngIf="this.updateData._id == undefined" type="button" class="button-send" (click)="addOrEditImage()">
            <span>Criar</span>
          </div>

          <div *ngIf="this.updateData._id !== undefined" type="button" class="button-send">
            <span>Atualizar</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
