<section id="header">
  <app-header-newsletter></app-header-newsletter>
</section>

<section id="news">
  <div class="news contents">
    <app-news></app-news>
  </div>
</section>

<section id="carousel">
  <div class="carousel contents">
    <app-carousel></app-carousel>
  </div>
</section>

<section id="collections">
  <div class="collections contents">
    <app-collections></app-collections>
  </div>
</section>

<section id="comments">
  <div class="contents">
    <div class="comments">
      <h1>comentários</h1>

      <h1>número de usuários</h1>

      <h3>{{ counter }}</h3>

      <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%">25%</div>
      </div>
    </div>

    <div class="social-media">
      <h1>Midias Sociais</h1>
    </div>
  </div>
</section>
