@use '../../assets/sass/colors'
@use '../../assets/sass/mobile'

.contents
  width: 100%
  height: 70vh

  @include mobile.display
    height: 50vh

.news
  background-color: colors.$black

.carrousel
  background-color: colors.$pourple

.comments
  background-color: colors.$green

.users-numbers
  background-color: colors.$blue
