@use '../../../../assets/sass/colors'

.default-button
  width: 39vw
  height: 3vh
  margin-top: 2vh
  background-color: colors.$white
  border-bottom: 1px solid colors.$black
  color: colors.$black

  &:hover
    color: colors.$pourple
    border-color: colors.$pourple

.logout
  position: absolute
  bottom: 1vh
  left: 10vw
  color: colors.$red
  font-size: 18px
  border: 1px solid colors.$red
  padding: 1vh 5vw
  border-radius: 6px
