@use '../../../../assets/sass/colors'

.default-button
  width: 39vw
  height: 3vh
  margin-top: 2vh
  background-color: colors.$white
  border-bottom: 1px solid colors.$black
  color: colors.$black

  &:hover
    color: colors.$pourple
    border-color: colors.$pourple

.icon-accessories
  position: absolute
  top: 65px
  left: 15px
  font-size: 19px

.logout
  position: absolute
  bottom: 0.8vh
  left: 10vw
  color: colors.$red
  font-size: 18px
  border: 1px solid colors.$red
  padding: 0.5vh 5vw
  border-radius: 6px


.modal-logout
  position: fixed
  left: 20vw
  bottom: 45%
  width: 60vw
  height: 15vh
  border: 1px solid colors.$black
