<!-- <button class="btn btn-lg btn-outline-primary" (click)="openModal(registerModal)">Launch demo modal</button> -->

<!-- <form [formGroup]="registerForm"> -->
<form>

  <ng-template #loginModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>

    <div class="modal-body row">
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">E-mail:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" value="example@example.com" formControlName="email">
        </div>
      </div>

      <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label">Senha:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fechar</button>
      <!-- <button type="submit" class="btn btn-primary"  [disabled]="loginForm.invalid" (click)="makeLogin()">Entrar</button> -->
    </div>
  </ng-template>

</form>

