@use '../../../../../assets/sass/colors'

.button-cart
  padding-bottom: 5px
  text-align: center
  cursor: pointer
  color: colors.$pourple-light
  font-size: 20px

  i
    font-size: 24px
    margin-left: 12px

  &:hover
    color: colors.$pourple
    border-bottom: 2px solid colors.$pourple
