@use '../../assets/sass/display'
@use '../../assets/sass/colors'

*
  margin: 0
  padding: 0

#top-menu
  display: inline

  @include display.mobile
    display: none

  .menu
    padding-top: 100px
    height: 12vh

  .button-filter-desktop, .filters-buttons
    padding-left: 4.7%

  .button-add
    padding-right: 5vw
    text-align: end

#side-menu
  display: none

  @include display.mobile
    display: inline
    text-align: end

  .menu
    padding-bottom: 5vh

  button
    font-size: 12px
    margin-right: 22px
    border: none
    border-bottom: 1px solid
    border-radius: none

.content
  width: 100vw
  display: flex
  justify-content: center

  .products
    background-color: colors.$red
    width: 74vw
    height: 43vh
    justify-content: center

    .buttons-crud
      text-align: end

    .product
      width: 16vw
      margin: 0px 1vw
      cursor: pointer

      @include display.mobile
        width: 50vw

      .icon
        color: colors.$white
        font-size: 33px

      .icon-selected
        color: colors.$pourple

      .card
        background-color: colors.$white
        align-items: center
        padding-top: 1vh

        @include display.mobile
          margin-top: 1vh
          width: 44vw
          height: 30vh

        img
          width: 90%
          height: 32vh
          border-radius: 5px

          @include display.mobile
            width: 44vw
            height: 18vh

      // .change-product
      //   color: colors.$white

      //   .update-product
      //     text-align: start
      //     cursor: pointer

      //   .delete-product
      //     text-align: end
      //     cursor: pointer

        // @include display.mobile
        //   display: none
