<section id="top-menu">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    valor
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div>
</section>

<section id="cards">
  <div class="container text-center">
    <div class="row my-5">
      <div class="col-3">
        <div class="card" style="width: 100%;">
          <img src="../../assets/img/products/rukiapng.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 100%;">
          <img src="../../assets/img/products/rukiapng.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 100%;">
          <img src="../../assets/img/products/rukiapng.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 100%;">
          <img src="../../assets/img/products/rukiapng.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6">
        <a routerLink="/product">
          <div class="card" style="width: 100%;">
            <img src="../../assets/img/products/sherk.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-6">
        <a routerLink="/product">
          <div class="card" style="width: 100%;">
            <img src="../../assets/img/products/sherk.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="side-menu">
  <h2>filtrar por ...</h2>

  <button type="button" class="btn btn-primary">valor</button>
  <button type="button" class="btn btn-secondary">coleção nova</button>
  <button type="button" class="btn btn-success">coleção antiga</button>
  <button type="button" class="btn btn-danger">Pulseiras</button>
  <button type="button" class="btn btn-warning">colares</button>
  <button type="button" class="btn btn-dark">gargantilhas</button>
</section>
