<section id="pageTitle">
  <h1>Produtos</h1>
</section>

<section id="topMenu">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    filtrar por ...
  </button>
  <div class="collapse" id="collapseExample">
    <div class="filters-buttons my-2">
      <button type="button" class="btn btn-primary mx-2">valor</button>
      <button type="button" class="btn btn-secondary mx-2">coleção nova</button>
      <button type="button" class="btn btn-success mx-2">coleção antiga</button>
      <button type="button" class="btn btn-danger mx-2">Pulseiras</button>
      <button type="button" class="btn btn-warning mx-2">colares</button>
      <button type="button" class="btn btn-dark mx-2">gargantilhas</button>
    </div>
  </div>
</section>

<section id="cards">
  <div class="container text-center">
    <div class="row my-5">
      <div class="col-3">
        <div class="card" style="width: 100%;">
          <img src="../../assets/img/products/rukiapng.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="itemTItle">Gargantilhas</h3>
            <p class="itemValor">55 R$</p>
            <span class="itemdescription">Descrição do colar</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-6">
        <a routerLink="/product">
          <div class="card" style="width: 100%;">
            <img src="../../assets/img/products/sherk.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="itemTItle">Colar</h3>
              <p class="itemValor">55 R$</p>
              <span class="itemdescription">Descrição do colar</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="side-menu">
  <h2>filtrar por ...</h2>

  <div class="card card-body">
    <button type="button" class="btn btn-primary mb-2">valor</button>
    <button type="button" class="btn btn-secondary mb-2">coleção nova</button>
    <button type="button" class="btn btn-success mb-2">coleção antiga</button>
    <button type="button" class="btn btn-danger mb-2">Pulseiras</button>
    <button type="button" class="btn btn-warning mb-2">colares</button>
    <button type="button" class="btn btn-dark">gargantilhas</button>
  </div>
</section>
