<section id="pageTitle">
  <span class="titles">{{ title }}</span>
</section>

<section id="top-menu">
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-6 button-filter-desktop">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter">
            filtrar por ...
          </button>
        </div>

        <div class="col-6 button-add">
          <button (click)="modalCreate()">Adicionar</button>
        </div>
      </div>
    </div>

    <div class="collapse" id="filter">
      <div class="filters-buttons mt-3">
        <button type="button" class="btn btn-primary">Valor</button>
        <button type="button" class="btn btn-secondary mx-2" (click)="filter('Coleção nova')">Coleção nova</button>
        <button type="button" class="btn btn-success mx-2" (click)="filter('Coleção antiga')">Coleção antiga</button>
        <button type="button" class="btn btn-danger mx-2" (click)="filter('Pulseiras')">Pulseiras</button>
        <button type="button" class="btn btn-warning mx-2" (click)="filter('Colares')">Colares</button>
        <button type="button" class="btn btn-dark mx-2" (click)="filter('Gargantilhas')">Gargantilhas</button>
      </div>
    </div>
  </div>
</section>

<section id="side-menu">
  <div class="menu">
    <div>
      <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filterMobile" aria-expanded="false" aria-controls="filterMobile">
        filtrar por ...
      </button>
    </div>

    <div class="collapse" id="filterMobile">
      <div class="row mx-3">
        <button type="button" class="btn btn-primary my-2">Valor</button>
      </div>
      <div class="row mx-3">
        <button type="button" class="btn btn-secondary mb-2" (click)="filter('Coleção nova')">Coleção nova</button>
      </div>
      <div class="row mx-3">
        <button type="button" class="btn btn-success mb-2" (click)="filter('Coleção antiga')">Coleção antiga</button>
      </div>
      <div class="row mx-3">
        <button type="button" class="btn btn-danger mb-2" (click)="filter('Pulseiras')">Pulseiras</button>
      </div>
      <div class="row mx-3">
        <button type="button" class="btn btn-warning mb-2" (click)="filter('Colares')">Colares</button>
      </div>
      <div class="row mx-3">
        <button type="button" class="btn btn-dark mb-2" (click)="filter('Gargantilhas')">Gargantilhas</button>
      </div>
    </div>
  </div>

</section>

<section id="cards">
  <div class="container text-center">
    <div class="row products">
      <div class="col-6 mb-3 product" *ngFor="let item of items">

        <div class="row change-product">
          <div class="col select-product">
            <i class="bi bi-toggle-off icon" (click)="changeProductSelection()" *ngIf="item.selection == false"></i>
            <i class="bi bi-toggle-on icon icon-selected" (click)="changeProductSelection()" *ngIf="item.selection == true"></i>
          </div>
          <div class="col update-product">
            <div>Editar</div>
          </div>
          <div class="col delete-product">Excluir</div>
        </div>


        <a routerLink="/product/{{ item.id }}">
          <div class="card">
            <img src="../../assets/img/products/rukia.png" alt="...">
            <div class="card-body">
              <h5 class="itemTitle">{{ item?.name }}</h5>
              <p class="itemValor">{{ item?.valor }} R$</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
