<section id="product" *ngFor="let item of products">
  <div class="content">
    <div class="icons-edit-or-delete">
      <i class="bi bi-pencil-fill" (click)="updateModal()"></i>
      <i class="bi bi-trash3-fill" (click)="deleteModal()"></i>
    </div>

    <div class="product-card">
      <div class="titles">
        <h1>{{ item.name }}</h1>
        <h2>{{ item.description }}</h2>
        <h3>{{ item.groups }}</h3>
      </div>

      <div class="carousel">
        <img src="../../assets/img/products/rukia.png" class="image my-2" alt="#">
      </div>

      <div class="valor">
        R$ {{ item.valor }}
      </div>
    </div>

    <form [formGroup]="form">
      <div class="freight my-2">
        <h4> <strong>Calcular Frete</strong> </h4>
        <label>Digite o CEP:</label> <input type="text" class="mx-2">
        <span><i class="bi bi-airplane-engines"></i></span>
      </div>
    </form>

    <ng-template>
      <h1>dados de endereço</h1>
    </ng-template>

    <div class="purchaseModal">
      <app-buy></app-buy>
      <h2>adicionar ao carrinho</h2>
    </div>

    <div class="return py-4">
      <div class="button-return" routerLink="/products">
        <span>voltar para produtos</span>
        <i class="bi bi-arrow-return-left"></i>
        <i class="bi bi-arrow-left"></i>
      </div>
    </div>
  </div>
</section>


<!-- <section id="possivel video">
  <div class="ratio ratio-4x3">
    <iframe src="https://www.youtube.com/embed/4Ea5zDLwKJw" title="YouTube video"></iframe>
  </div>
</section> -->
