@use '../../assets/sass/display'
@use '../../assets/sass/colors'

*
  margin: 0
  padding: 0

// display desktop
#desktop
  display: inline

  @include display.mobile
    display: none

  .card-product
    display: flex
    felx: column
    justify-content: center
    height: 100vh
    width: 100vw
    padding-top: 10vh

    @include display.hd
      padding: 13vh 0px 8vh 2vw

  .product
    background-color: colors.$pourple-gray
    border: 1px solid colors.$pourple-gray
    width: 34vw
    border-top-left-radius:  10px
    border-bottom-left-radius:  10px
    padding-top: 3vh

    @include display.hd
      padding-top: 2vh

    h1, h4
      text-align: center

    .carousel
      display: flex
      justify-content: center
      width: 100%

      img
        width: 26vw
        height: 45vh
        border-radius: 20px

        @include display.hd
          width: 22vw
          height: 50vh
          border-radius: 5px

  .payment
    background-color: colors.$white
    border-top-right-radius:  10px
    border-bottom-right-radius:  10px
    width: 34vw
    border: 1px solid colors.$pourple-light
    padding: 3vh 1vw 0px 1vw

    @include display.hd
      min-height: 78vh
      padding-top: 2vh

    .header-payment
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 2vh

      .price-product
        font-size: 25px
        color: colors.$red
        font-weight: 600

        @include display.hd
          font-size: 20px

      .icons-edit-or-delete
        display: flex
        align-items: center

        i
          cursor: pointer
          margin: 0 5px

          &:hover
            color: colors.$green-light

        .icon-trash
          &:hover
            color: colors.$red

    .description
      height: 120px
      width: 100%
      overflow: auto
      padding: 6px 7px
      border: 1px solid colors.$pourple-light
      border-radius: 5px

    .freight
      #postalCode
        width: 12vw
        height: 3vh
        padding-left: 5px

      .image-shipping
        display: flex
        justify-content: center

        img
          width: 8vw
          height: 5vh

          @include display.hd
            width: 10vw
            height: 4vh

      .button-freight-content
        display: flex
        flex-direction: column-reverse

        .buttons
          width: 10vw
          font-size: 18px

          @include display.hd
            width: 12vw
            font-size: 13px

      .price-shipping
        display: flex
        flex-direction: column-reverse
        font-size: 20px

        @include display.hd
          font-size: 16px

    .productsQuantity
      display: flex
      font-size: 20px
      margin-bottom: 2vh

      @include display.hd
        margin-bottom: 5vh

      .cart-button
        cursor: pointer
        color: colors.$pourple-light
        font-size: 20px
        margin: 0px 1vw

        &:hover
          color: colors.$green-light

      @include display.hd
        font-size: 16px

      .quantity
        width: 3vw
        text-align: center
        border: none
        border-bottom: 1px solid colors.$pourple-light

        @include display.hd
          width: 2vw

      i
        cursor: pointer

        &:hover
          color: colors.$green-light

    .add-to-cart
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      width: 100%
      margin-top: 2vh

      @include display.hd
        margin-top: 1vh

      i
        margin-left: 1vw
        color: colors.$pourple-light

        @include display.hd
          margin-left: 0.5vw

      .buttons
        padding: 2vh 1vw
        border: 1px solid colors.$pourple-light

        @include display.hd
          padding: 1.3vh 1vw

      .button-add-to-cart
        &:hover
          border-color: colors.$pourple

          i
            color: colors.$pourple

      .button-remove-to-cart
        &:hover
          border-color: colors.$red

          i
            color: colors.$red

// button return to screen products
.return
  color: colors.$pourple-light
  width: 100%
  padding: 2vh 2vw
  font-size: 20px
  display: flex
  justify-content: right
  align-items: flex-end
  position: fixed
  bottom: 0

  @include display.mobile
    font-size: 18px
    padding: 1vh 2vw

  .button-return
    cursor: pointer

    i
      margin: 0px 1.5vw 0px 2vw

    .bi-arrow-return-left
      display: none

    &:hover
      color: colors.$pourple

      .bi-arrow-return-left
        display: inline

      .bi-arrow-left
        display: none

// display mobile
#mobile
  display: none

  @include display.mobile
    display: inline
