<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" #successToast>
  <!-- <span>{{ textFromToast }}</span> -->
   
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" #errorToast>
  <!-- <span>{{ textFromToast }}</span> -->
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" #warningToast>
  <!-- <span>{{ textFromToast }}</span> -->
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" #infoToast>
  <!-- <span>{{ textFromToast }}</span> -->
</div>