@use '../../../assets/sass/colors'
@use '../../../assets/sass/display'

#topNews
  padding-top: 5vh
  width: 100%
  height: 60vh
  display: flex
  justify-content: center

.card-image
  width: 100%
  border-radius: 6px
  background-color: colors.$white

  img
    width: 100%
    height: 70vh


