@use '../../../assets/sass/colors'
@use '../../../assets/sass/display'

.news-card
  width: 50vw
  height: 45vh
  position: absolute
  left: 21vw
  margin-top: 12vh
  border-radius: 10px

  @include display.mobile
    width: 60vw
    height: 25vh
    left: 15vw

.card-front
  background-color: colors.$white
  color: colors.$black
  z-index: 1

  &:hover
    z-index: 3

.card-behind
  background-color: colors.$pourple
  color: colors.$white
  z-index: 0
  margin-left: 6vw
  margin-top: 17vh

  @include display.mobile
    margin-left: 10vw

  &:hover
    z-index: 2
