<section id="topNews">
  <div class="icons icon-add-or-edit-image">
    @if (dataNews == undefined) {
      <i type="button" class="bi bi-plus-circle-dotted" (click)="addOrUpdateImage()"></i>
    } @else {
      <i type="button" class="bi bi-pencil-square" (click)="addOrUpdateImage()"></i>
    }    
  </div>

  <div class="icons icon-trash">
    @if (dataNews !== undefined) {
      <i type="button" class="bi bi-trash3-fill mx-2" (click)="deleteImage()"></i>
    }
  </div>

  <a type="button" class="card-image" routerLink="{{ this.linkProduct }}">
    <img src="{{ this.imageUrl }}" alt="imagem">
  </a>

  <div class="text-abaut"></div>
</section>
