<section id="pageTitle">
  <h1 class="titles">Dashboard</h1>
</section>

<section id="salesHistory">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-2"></div>

        <div class="col-9">
          <div class="card cardSales">
            <p>Quantidade de Vendas: <span>{{ sales }}</span> </p>
          </div>
        </div>

        <div class="col-1"></div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-1"></div>

        <div class="col-9">
          <div class="card cardSales">
            <p>Produto mais vendido: <span>{{ product }}, </span> <span>com {{ highestSellingProduct }} Vendas</span></p>
          </div>
        </div>

        <div class="col-2"></div>
      </div>
    </div>
  </div>

  <hr class="mb-2">
</section>

<section id="charts">
  <span>Ter gráfico de acesso, ngx-charts</span>
</section>

