@use '../../../assets/sass/colors'
@use '../../../assets/sass/display'

.button-buy
  padding-bottom: 5px
  text-align: center
  cursor: pointer
  color: colors.$green-light
  font-size: 18px

  i
    font-size: 22px
    margin-left: 12px

  &:hover
    color: colors.$green
    border-bottom: 2px solid colors.$green

  @include display.mobile
    color: colors.$green
    border-bottom: 1px solid colors.$green
