/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap'
@use './assets/sass/mobile'
@import 'assets/sass/colors'

*
  font-family: Arial, Helvetica, sans-serif !important

.titles
  font-weight: 600
  font-size: 155px
