/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use './assets/sass/display'
@use 'assets/sass/colors'

*
  font-family: Arial, Helvetica, sans-serif !important

#pageTitle
  padding: 2vh 0px 5vh 5vw
  background-color: colors.$black

  @include display.mobile
    padding: 2vh 0px 3vh 3vw

  .titles
    font-weight: 600
    font-size: 35px
    color: colors.$white

.button-one
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  height: 37px
  min-width: 80px
  color: colors.$white
  background-color: colors.$pourple
  font-size: 18px
  border: 1px solid colors.$pourple
  border-radius: 6px

  &:hover
    background-color: colors.$white
    color: colors.$pourple

  @include display.mobile
    height: 35px
    min-width: 70px
    background-color: colors.$white
    color: colors.$pourple

.input-lv
  border: 0.5px solid colors.$black
  border-radius: 5px

  &:active, &:focus
    border: 1px solid colors.$pourple
    outline: colors.$pourple
    border-color: colors.$pourple

.desktop
  display: inline

  @include display.mobile
    display: none

.mobile
  display: none

  @include display.mobile
    display: inline
