<section id="body">
  <div class="assessments">
    <h2>avaliações</h2>

    <p>
      <i class="bi bi-star"></i>
      <i class="bi bi-star-fill"></i>
    </p>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-4 email">E-mail:</div>
      <div class="col-4 instagram">Instagram:</div>
      <div class="col-4 linkedin">LinkedIn:</div>
    </div>
  </div>

  <div class="signature">
    <span class="creatorName">Camila Ribeiro Pedroso,</span>
    <span class="companyName mx-2">Luz Violeta Arts</span>
    <i class="bi bi-r-circle"></i>
  </div>
</section>
