.toast-success
  --mdc-snackbar-container-color: #21d42a
  --mdc-snackbar-supporting-text-color: white

.toast-error
  --mdc-snackbar-container-color: #ee1515
  --mdc-snackbar-supporting-text-color: white
